<mat-card>
    <mat-card-header>
        <mat-card-title>Ingresar un producto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="row">
            <div fxFlex="50">
                <p>
                    
                      <mat-label>Nombre</mat-label>
                      <input matInput >
                      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                      <mat-hint>Hint</mat-hint>
                    
                </p>
            </div>

            <div fxFlex="50">
                <p>
                    
                </p>
            </div>
            
        </div>
    </mat-card-content>

</mat-card>
